
:root{
    --dark-bg: rgba(0,0,0,.5);
    --light-bg:#f5f5f5;
}

*{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: 0;
  text-transform: capitalize;
  
}
* > img{
    user-select: none;
    pointer-events: none; 
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: #fff;
}

html::-webkit-scrollbar-thumb{
    background-color: #cd9454;
}

section{
    padding: 5rem 10%;

}



.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 0.5rem 1rem rgb(227, 225, 225);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: #fff;
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;

}
.header .logo i{
    color: #cd9454;
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: rgb(151, 151, 151);
}
.header .navbar a:hover{
    color: #cd9454;
}
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
.home{
    padding: 0;
    
}
.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: cover !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .slide::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    /*
    z-index: -1;*/
}

.home .slide .content{
    
    text-align: center;
    width: 70rem;
}
.content span{
    font-size: 3rem;
    padding-bottom: .5rem;
    color: #fff;
    
}
.content h3{
    font-size: 8vw;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    padding: 2rem 0;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .7);
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    background-color: #cd9454;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.swiper-button-next,.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: #fff;

}
.swiper-button-next,.swiper-button-prev:hover{
    color: #cd9454;
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.about .image{
    flex: 1 1 23rem;
}

.about .image img{
    width: 90%;
    border-radius: 20px;
    height: 600px;
    margin-right: 5rem;
}
.icons img{
    margin-top: 3rem;
    width: 65px;
    height: 75px;
}
.icons h3{
    font-size: 18px;
    color: #cd9454;
    text-shadow: none;
}
.content .title{
    font-size: 35px;
    margin-bottom: 3rem;
    color: #cd9454;
    text-shadow: none;
}
.content p{
    font-size: 13px;
}

.icon-container .icons{
    flex: 1 1 16rem;
    background-color: rgb(244, 244, 244);
    text-align: center;
    border-radius: 20px;

}
.heading{
    text-align: center;
    margin-bottom: 3rem;

}
.heading span{
    font-size: 2.5rem;
    color: #cd9454;
}

.heading h3{
    font-size: 4.5rem;
    color: black;
}

.slide1 img{
    width: 25rem;
    height: 25rem;
    border-radius: 20px;
    margin-bottom: 1rem;

}
.slide1 h3{
    font-size: 2.5rem;
}
.slide1 .price{
    font-size: 2rem;
    color: #cd9454;
}

.food{
    background-color: rgb(244, 244, 244);
}



.food .slide1{
    text-align: center;
    padding: 3rem 2rem;
    transform: scale(.9);
    opacity: .7;
    margin-bottom: 4rem;
}
.swiper-pagination-bullet-active{
    background: #cd9454;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
}

.food .swiper-slide-active{
    transform: scale(1);
    opacity: 1;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgb(227, 225, 225);
    border: 6px solid #cd9454;
    border-radius: 20px;
    cursor: pointer;
}
.food-preview img{
    width: 25rem;
    height: 25rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.food-preview-container{
    background:  rgba(0, 0, 0, .6);
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    display: inline;
    display: none;
    align-items: center;
    justify-content: center;
}
.food-preview-container .food-preview{
    text-align: center;
    background: #fff;
    padding: 3rem 2rem;
    border-radius: 1rem;
    display: none;
    width: 35rem;
}

.food-preview-container .food-preview.active{
    display: inline-block;
    animation: fadeIn .4s cubic-bezier(.54,1.3,.62,1.34)  backwards;
}

.food-preview-container .food-preview h3{
    padding: 1rem 0;
    font-size: 2.5rem;
}

.food-preview-container .food-preview .starts{
    margin-bottom: 1rem;
}
.food-preview-container .food-preview .starts i{
    font-size: 1.5rem;
    color: #cd9454;
}
.food-preview-container .food-preview p{
    font-size: 1.6rem;
    color: rgb(141, 139, 139);
}

.food-preview-container .food-preview .price{
    font-size: 2rem;
    margin-bottom: 1rem;
}

#close-preview{
    position: absolute;
    top:2rem; 
    right: 2.5rem;
    font-size: 6rem;
    cursor: pointer;
    color: #fff;
}
#close-perview:hover{
    transform: rotate(90deg);
}

.gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
}

.gallery .gallery-container .box{
    height: 40rem;
    position: relative;
    overflow: hidden;

}


.gallery-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.gallery .gallery-container .box .icon{
    display: none;
    align-items: center;
    position: absolute;
    top: 0; left: o;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
    border-radius: 20px;
}

.icon i{
    font-size: 6rem;
    color: #fff;
    margin: auto;
}
.gallery .gallery-container .box:hover .icon{
    display: flex;
}

.menu{
    background: var(--light-bg);
}
.menu .slide .title{
    padding: 1rem;
    font-size: 3rem;
    color: #fff;
    background-color: #cd9454;
    margin-bottom: 3rem;
    text-align: center;
}
.menu .slide .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.menu .slide .box-container .box{
    flex: 1 1 51rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.box h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;

}
.box p{
    font-size: 1rem;
}

















































/*media query*/
@media(max-width:1200px){

section{
    padding: 3rem 5%;
}

}
@media(max-width:991px){

    section{
        padding: 3rem 2rem;
    }
    html{
        font-size: 55%;
    }
    
}

@media(max-width:768px){

    #menu-btn{
        display: inline-block;
    }
    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: .2rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }

    .header.navbar.active{
        clip-path: polygon(0 0, 100% 100%, 0 100%,0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
    }
    .swiper-button-next,.swiper-button-prev{
        top: initial;
        bottom: 1rem;
    }
    .image img{
        height: 150px;
    
    }
    
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}

